name: Publish

on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Lint code
        run: npm run lint

      - name: Run tests
        uses: coactions/setup-xvfb@v1
        with:
          run: npm test

      - name: Package extension
        run: |
          npx @vscode/vsce package

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: vsix-package
          path: '*.vsix'

      - name: Upload vsix to Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          omitBody: true
          omitName: true
          artifacts: '*.vsix'
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish to VS Code Marketplace
        if: github.event_name == 'release'
        run: npx @vscode/vsce publish --packagePath *.vsix -p ${{ secrets.VSCE_PAT }}
